@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
:root {
    --primarycolor: #f766a0;
    --secundarycolor: #f53681;
    --primarybackground: #1f2029;
    --secundarybackground: #2b2e38;
}
.icons{
    color: var(--primarycolor);
    background-color: var(--secundarybackground);
    border: #000000;
}
.icons:hover {
    color: var(--secundarycolor);
    transform: scale(1.2);
}
