.boxUp {
    background-color: var(--secundarybackground);
    margin: 3.5% 0 0 5%;
    padding-top: 1.7%;
    max-width: 90%;
    height: 600px;
}
.boxDownLeft {
    background-color: var(--primarybackground);
    display: flex;
    height: 62%;
    max-width: 30%;
    margin-top: 1.3%;
}
.boxDownRight {
    background-color: var(--secundarycolor);
    display: block;
    height: 62%;
    max-width: 30%;
    margin-top: 1.3%;
}
.userinfo {
    background-color: var(--primarybackground);
    max-width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile-pic-container {
    margin-left: 3%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    object-position: center center;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userdates {
    padding-left: 5%;
}
.fixemail {
    padding-left: 2.3%;
}
.boxUp .form-group input {
    min-width: 300px;
    background-color: var(--secundarybackground);
    color: var(--secundarycolor);
}
.button-wrapper {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 2% 0 5.5%;
}
.changeback:hover {
    background-color: var(--secundarybackground);
}
