.boxUp {
    background-color: var(--secundarybackground);
    margin: 3.5% 0 0 5%;
    padding-top: 1.7%;
    max-width: 90%;
    height: 600px;
}
.boxDownLeft {
    background-color: var(--primarybackground);
    display: flex;
    max-height: 23.8em;
    overflow-x: auto;
    margin: 1.3% 4% 0% 2%;
}
.boxDownRight {
    background-color: var(--primarybackground);
    display: block;
    height: 23.8em;
    margin-top: 1.3%;
}
.userinfo {
    background-color: var(--primarybackground);
    max-width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile-pic-container {
    margin-left: 3%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    object-position: center center;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userdates {
    padding-left: 5%;
}
.fixemail {
    padding-left: 2.3%;
}
.boxUp .form-group input {
    min-width: 300px;
    background-color: var(--secundarybackground);
    color: var(--secundarycolor);
}
.button-wrapper {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 2% 0 5.5%;
}
.changeback:hover {
    background-color: var(--secundarybackground);
}
.table{
    color: var(--primarycolor);
    background-color: var(--secundarybackground);
}
.backtable{
    background-color: var(--primarybackground);
}
.table-bordered th, .table-bordered td {
  border-color: var(--primarybackground) !important;
}
.havethis{
    background-color: var(--textgood);
    color: var(--primarybackground);
}
.havethis .fiximg a{
    color: var(--primarybackground);
    transition: font-size 0.3s ease-in-out;
}
.dontthis .fiximg a{
    color: var(--primarycolor);
    transition: font-size 0.3s ease-in-out;
}
.sizeimg .fiximg a:hover{
    text-decoration: none !important;
    font-size: 113%;
}
table .uil{
    font-size: 140%;
    padding-left: 20%
}
.backtable .uil-times{
    padding-left: 2%
}
table .sizeimg .uil{
    padding-left: 1%;
}
table .sizeimg .fiximg{
     padding-left: 10%;
}
.uil-check{
    color: var(--textgood);
}
.uil-times{
    color: var(--textdanger);
}
.boxDownRight .form-group .form-row{
    padding-left: 1em;
}
.btnendereco{
    margin-left: 5em;
    max-width: 80px;
    margin-top: 1.2em;
}
.boxDownRight .form-group{
    margin-bottom: 0.5em;
}
